/* _______ General _______ */
$main-text-color: #333;

/* _______ Navbar _______ */
$navbar-active-border-color: #889aec;
$navbar-background-color: #fff;
$navbar-background-color-hover: #f3f4fa;
$navbar-shadow-color: #888;