/* _______ General _______ */
$main-text-color: #333;
$wrapper-background-color: #fafafa;

$close-button-background-color: #ff122d;
$close-button-background-color-hover: #ff3c52;
$close-button-border-color: #ec5f47;
$close-button-text-color: #fafafa;

$box-shadow-color: #888;
$box-shadow-color-light: #ddd;
$box-shadow-color-dark: #222;

/* _______ Navbar _______ */
$navbar-active-border-color: #889aec;
$navbar-background-color: #fff;
$navbar-background-color-hover: #f3f4fa;
$navbar-shadow-color: #888;

/* _______ Footer _______ */
$footer-color: #444;
$footer-background-color: #dee2f6;

/* _______ PopUp _______ */
$popup-background-color: #dbdbdb;
$popup-active-button-background: #c5c5c5;

$popup-default-button-border-color: #BBB;
$popup-default-button-background: #F1F1F1;
$popup-default-button-background-hover: #E6E6E6;

/* _______ Database _______ */
$table-background-color: #e4e4e4;
$table-header-background-color-hover: #d7d7d7;
$row-background-color: #fafafa;
$row-background-color-hover: #e6e6e6;

$second-inf-background: #e6e6e6;
$second-inf-border-color: #e6e6e6;

$text-window-content-height: 540px;

/* _______ Graph _______ */
$explanation-color-1: #4AACC5;
$explanation-color-2: #77a033;
$explanation-color-3: #e07676;
