@import './variables';

.footerWrapper{

  margin-top: 50px;
  background-color: $footer-background-color;
  height: 150px;
  text-align: center;
  border-top: .5px solid $navbar-active-border-color;

  color: #444;

  .footerContent{
    margin: auto;
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    div{
      width: 50%;
    }
  }
}

.footerWrapper p {
  padding: 10px;
}