.startPageImageContainer{
  display: flex;
  margin: 10px auto;
  width: 90%;
}

.startPageImage{
  margin: auto;
  //height: 500px;
  width: 50%;
  //object-fit: none;
}

.logo{
  position: absolute;
  left: 7px;
  width: 100px;
  height: 100px;
}

.about{
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
}

.example_div{
  position: fixed;
  background-color:black;
  width: 50px;
  height: 50px;
}

.playAudio{
  cursor: pointer;
  color: red;
}