@import './variables';

.navbar{
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 1px $navbar-shadow-color;
  background-color: $navbar-background-color;
  min-height: 25px;

  .item{
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $main-text-color;
  }

  .item:hover{
    background-color: $navbar-background-color-hover;
    // border-bottom: 2px solid #dee2f6;
  }

  .active{
    border-bottom: 2px solid $navbar-active-border-color;
  }
}

.navbar-logo{
  margin: auto;
  width: 40%;
}