@import './../variables';

.resultBackground{
  position: fixed;
  top: 0;
  visibility: visible;

  width: 100%;
  height: 200%;
  z-index: 100;

  background: rgba(34, 34, 34, 0.75);
}

.closeButton{
  margin: 2px;
  display: flex;
  align-self: flex-end;

  height: 27px;

  padding: 5px 25px;
  background: $close-button-background-color;
  border-radius: 2px;
  border: 1px solid $close-button-border-color;
  cursor: pointer;

  img{
    width: 15px;
  }
}

.closeButton:hover{
  background: $close-button-background-color-hover;
}

.deleteButton{

  cursor: pointer;
  border: none;
  background-color: $wrapper-background-color;

  img{
    width: 25px;
  }
}

.resultContainer{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 50px auto auto;

  min-width: 1000px;
  width: 65%;

  background-color: $wrapper-background-color;
  border-radius: 5px;

  box-shadow: 0 0 1px $box-shadow-color-dark;
}

.textWindowHeader{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}

.textWindowContent{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.textWindowFooter{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: auto;

  .deleteLocalStorage{
    position: relative;
    top: -50px;
    width: 100px;
    height: 50px;
    background-color: $wrapper-background-color;
    box-shadow: 1px 1px 2px #ddd;
    border-radius: 5px;

    display: inline-block;

    button{
      width: 100%;
      cursor: pointer;
      
    }
    
  }
}

.informantInfoPanel{
  margin-left: 20px;
  width: 32%;
  min-width: 280px;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.secondInfPanel{
  cursor: pointer;
  width: 90%;
  background: $second-inf-background;
  border-radius: 5px;
  border: 1px solid $second-inf-border-color;
  padding: 10px;
  margin-top: 5px;
  min-width: 280px;
}

.secondInfPanel .infoText{
  margin-bottom: 0;
}

.infoText{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  margin-bottom: 15px;
}

.infoText span{
  width: 100%;
  margin: 2px 0;
}

.text{
  margin: 10px 0 10px 10px;

  /*display: flex;*/
  /*flex-wrap: nowrap;*/
  justify-content: space-around;

  width: 65%;

  max-height: 530px;

  overflow: auto;
}

.text div{
  margin: 3px 0;
}

.animationTest{
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.animationTest2{
  height: 203px;
}