@import './../variables';

.graphPage{
    margin: auto;
    width: 80%;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between; 
}
    
.graph{
    width: 49%;
    min-width: 300px; 
    margin-bottom: 10px;
 
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 5px $box-shadow-color;
}  
  
.graphLabel{ 
    width: 100%;  
    background-color: #e4e4e4;
    padding: 5px 0;
    margin: 0;
    box-shadow: 0 1px #ddd;
}

.graphSearchArea{
    margin: 10px auto;
    width: 80%;

    background: #fafafa;
    box-shadow: 0 0 5px #888888;
    border-radius: 5px;
}

.graphColorExplanation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 10px 0 -10px 0;

    .colorExplanation{
        width: 20px;
        height: 20px;
        margin: 0 4px 0 15px;
    }

    .explanation1{
        background-color: #4AACC5;
    }

    .explanation2{
        background-color: #77a033;
    }

    .explanation3{
        background-color: #e07676;
    }
}


@media all and (max-width: 820px)  {
    .graph{
        width: 100%;
        min-width: 300px;
    }
}